__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
.coverage
.venv/
.uv-cache/
node_modules/
.deepcode/
.env.local
data/
data/**
runs/
runs/**
problems/**/data
problems/**/data/**
problems/**/eval-results
problems/**/eval-results/**
problems/**/runs/
problems/**/runs/**
